[submodule "Reddit-Topic-Modeling-and-Sentiment"]
	path = Reddit-Topic-Modeling-and-Sentiment
	url = https://github.com/Shrikanthcodes/Reddit-Topic-Modeling-and-Sentiment.git
[submodule "Victimzation-Disparities"]
	path = Victimzation-Disparities
	url = https://github.com/Shrikanthcodes/Victimzation-Disparities.git
