[submodule "Reddit-Topic-Modeling-and-Sentiment"]
	path = Reddit-Topic-Modeling-and-Sentiment
	url = https://github.com/Shrikanthcodes/Reddit-Topic-Modeling-and-Sentiment.git
[submodule "Victimzation-Disparities"]
	path = Victimzation-Disparities
	url = https://github.com/Shrikanthcodes/Victimzation-Disparities.git
[submodule "CIFAR-10-Analysis"]
	path = CIFAR-10-Analysis
	url = https://github.com/Shrikanthcodes/CIFAR-10-Analysis.git
[submodule "baseball-analysis"]
	path = baseball-analysis
	url = https://github.com/Shrikanthcodes/baseball-analysis.git
